/PokeChatNet/models/VerbLookup.cs~
/PokeChatNet/models/Word.cs~
/PokeChatNet/models/WordTypeWord.cs~
/PokeChatNet/obj/x86/Debug/PokeChatNet.csproj.FileListAbsolute.txt
/PokeChatNet/obj/x86/Debug/PokeChatNet.exe
/PokeChatNet/obj/x86/Debug/PokeChatNet.pdb
/PokeChatNet/queries/BadSpellingQueries.cs~
/PokeChatNet/queries/GeneralQueries.cs~
/PokeChatNet/queries/PatternQueries.cs~
/PokeChatNet/queries/PhrasePatternQueries.cs~
/PokeChatNet/queries/PhraseQueries.cs~
/PokeChatNet/queries/PhraseTypeQueries.cs~
/PokeChatNet/queries/PhraseWordQueries.cs~
/PokeChatNet/queries/Queries.cs~
/PokeChatNet/queries/StatementTypeQueries.cs~
/PokeChatNet/queries/SynonymQueries.cs~
/PokeChatNet/queries/VerbLookupQueries.cs~
/PokeChatNet/queries/WordQueries.cs~
/PokeChatNet/queries/WordTypeQueries.cs~
/PokeChatNet/queries/WordTypeWordQueries.cs~
/PokeChatNet/models/DataIndex.cs~
/PokeChatNet/models/DataModel.cs~
/PokeChatNet/models/Pattern.cs~
/PokeChatNet/models/Phrase.cs~
/PokeChatNet/models/PhrasePattern.cs~
/PokeChatNet/models/PhraseWord.cs~
/PokeChatNet/models/StatementType.cs~
/PokeChatNet/models/Synonym.cs~
/PokeChatNet/models/BadSpelling.cs~
/PokeChatNet/chat/WordTypes.cs~
/PokeChatNet/chat/VerbLookups.cs~
/PokeChatNet/chat/Pronouns.cs~
/PokeChatNet/chat/PokeChat.cs~
/PokeChatNet/chat/PhraseTypes.cs~
/PokeChatNet/chat/PhraseParser.cs~
/PokeChatNet/bin/Debug/data/pokechat.db
/PokeChatNet/bin/Debug/PokeChatNet.exe.mdb
/PokeChatNet/bin/Debug/PokeChatNet.exe
/PokeChatNet/chat/PhraseBuilder.cs~
/PokeChatNet/chat/CommandProcessor.cs~
/PokeChatNet/chat/Patterns.cs~
/PokeChatNet/Utils/StringExtensions.cs~
/PokeChatNet/Utils/SqliteDriver.cs~
/PokeChatNet/Utils/QueryResult.cs~
/PokeChatNet/Utils/QueryFilter.cs~
/PokeChatNet/Program.cs~
/PokeChatNet.userprefs
